﻿@model List<Publicacion>
@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mb-3 mt-3">
    <h1 class="display-4">Bienvenido al Blog</h1>
</div>

<div class="card">
    <div class="card-header">
        <a asp-action="Publicacion" asp-controller="Home" asp-route-idPublicacion="0" class="btn btn-success"><i class="fa fa-circle-plus"></i> Nueva Publicación</a>
    </div>
    <div class="card-body">
        <form asp-action="Index" asp-controller="Home" class="row g-3">
            <div class="col-auto">
                <label for="buscar" class="visually-hidden">Criterio de Búsqueda</label>
                <input required type="search" class="form-control" value="@ViewBag.Busqueda" placeholder="Criterio de Búsqueda" name="busqueda" id="buscar" />
            </div>
            <div class="col-auto">
                <select class="form-control" name="buscarPor">
                    @if (ViewBag.BuscarPor == "1")
                    {
                        <option value="1" selected>Buscar por Título</option>
                        <option value="2">Buscar por Contenido</option>
                        <option value="3">Buscar por Autor</option>
                    }
                    else if (ViewBag.BuscarPor == "2")
                    {
                        <option value="1">Buscar por Título</option>
                        <option value="2" selected>Buscar por Contenido</option>
                        <option value="3">Buscar por Autor</option>
                    }
                    else
                    {
                        <option value="1">Buscar por Título</option>
                        <option value="2">Buscar por Contenido</option>
                        <option value="3" selected>Buscar por Autor</option>
                    }
                </select>
            </div>
            <div class="col-auto">
                <input type="submit" value="Buscar" class="btn btn-dark" />
            </div>
            <div class="col-auto">
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary"><i class="fa fa-undo"></i></a>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3">
    @if(Model == null || Model.Count == 0)
    {
        <h1>No se han encontrado publicaciones.</h1>
    }
    else
    {
        foreach (var pub in Model)
        {
            <div class="col-sm-6 mb-2">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">@pub.titulo - por @pub.autor</h6>
                        <p class="text-muted">Publicado el @pub.fechaPublicacion</p>
                        <p class="card-text">@pub.contenido</p>
                        <a asp-action="Publicacion" asp-controller="Home" asp-route-idPublicacion="@pub.idPublicacion" class="stretched-link    ">Leer más...</a>
                    </div>
                </div>
            </div>
        }
    }
</div>