﻿@model Publicacion
@{
    ViewData["Title"] = ViewBag.Accion;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-3">
    <div class="card-header">
        <h2>@ViewBag.Accion</h2>
    </div>
    <div class="card-body">
        <form asp-action="GuardarCambios" asp-controller="Home" method="post">
            <input asp-for="idPublicacion" type="hidden" />
            
            <div class="mb-2">
                <label class="form-label">Título</label>
                <input asp-for="titulo" type="text" class="form-control form-control-lg" autofocus required maxlength="100" />
            </div>

            <div class="mb-2">
                <label class="form-label">Autor</label>
                <input asp-for="autor" type="text" class="form-control form-control-lg" required maxlength="50" />
            </div>

            <div class="mb-2">
                <label class="form-label">Contenido</label>
                <textarea asp-for="contenido" type="text" class="form-control form-control-lg" required></textarea>
            </div>

            
            <button asp-for="contenido" type="submit" class="btn btn-success btn-lg"><i class="fa fa-save"></i> Guardar Cambios</button>

            <a asp-action="Index" asp-controller="Home" class="btn btn-warning btn-lg"><i class="fa fa-undo"></i> Regresar</a>
        </form>
    </div>
</div>

