﻿
@{
    ViewData["Title"] = "Recursos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center mb-3 mt-3">
    <h1 class="display-4">Recursos Utilizados</h1>
</div>

<div class="card">
    <div class="card-header">
        <h4>Paquetes</h4>
    </div>
    <div class="card-body">
        <p>
            - NetCore -> Version 6<br />
            - Microsoft.AspNetCore.Authentication.Jwt -> Versión 6.0.3<br />
            - System.IdentityModel.Tokens.Jwt -> Version 6.17.0<br />
            - System.Data.SqlClient -> Version 4.8.3<br />
            - Newtonsoft.Json -> Version 13.0.1<br />
            - FontAwesome -> Version 6.4.0<br />
            - Bootstrap -> Version 5.1.0<br />
        </p>
    </div>
</div>

<div class="card mt-2">
    <div class="card-header">
        <h4>Instalación</h4>
    </div>
    <div class="card-body">
        <p>
            1.- Se debe ejecutar el script de base de datos llamado <b>BaseDatos.sql</b>, ubicado en la raíz del proyecto.
        </p>
        <p>
            2.- Abrir la solución del proyecto con <b>VisualStudio 2022</b><br />
        </p>
        <p>
            3.- Abrir el archivo <b>appsettings.json</b> y modificar el valor de la variable <b>CadenaSql</b> utilizando los parámetros de su servidor <b>SqlServer</b><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- data source: El nombre que utiliza su servidor<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- initial catalog: El nombre que se utilizó para la base de datos (en caso de haberlo modificado)<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- user id: El nombre de usuario que utiliza para conectarse al servidor<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- password: La contraseña del usuario<br />
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;- NOTA: En caso de no usar usuario y contraseña, reemplazar ambos parámetros por el siguiente <b>integrated security=True;</b><br />
        </p>
        <p>
            4.- Abrir el archivo <b>appsettings.json</b> y modificar el valor la variable <b>BaseUrl</b> por la URL local que tiene su servidor, se tiene configurada por default, pero en caso de modificarla.<br />
        </p>
        <p>
            5.- Compilar y ejecutar el proyecto.<br />
        </p>
    </div>
</div>