﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <script defer src="~/lib/fontawesome/js/all.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Blog.styles.css" asp-append-version="true" />
</head>
<body>
	<header class="text-center position-fixed w-25 h-100 bg-success">

		<h5 class="pt-lg-4 mb-3">
			<a class="text-light text-decoration-none text-light" href="">Examen Programador</a>
		</h5>
		
		<div class="p-sm-3">
			<img class="rounded mx-auto img-fluid" src="~/img/netCore.png" alt="image">
		</div>

		<div class="pt-2 text-light">
			Hola, mi nombre es Braulio Arambula Martinez. <br />
			Este es mi examen de programador ASP .NET CORE C#
		</div>

		<nav class="navbar navbar-expand-lg navbar-dark">

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navigation" class="collapse navbar-collapse flex-column">
				<div class="pt-3 pt-lg-0">
					<hr>
				</div>

				<ul class="navbar-nav flex-column text-start">
					<li class="nav-item">
						<a asp-action="Index" asp-controller="Home" class="nav-link active"><i class="fas fa-home fa-fw me-2"></i>Inicio <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a asp-action="Recursos" asp-controller="Home" class="nav-link active"><i class="fas fa-bookmark fa-fw me-2"></i>Recursos</a>
					</li>
				</ul>
				<div class="my-2 my-md-3">
					<a class="btn btn-light" href="~/res/CV-BraulioArambulaV2.pdf" download>Currículum</a>
				</div>
			</div>
		</nav>
	</header>

	<div class="position-absolute h-100" style="left:26%!important;width:72.5%!important;">
		@RenderBody()
	</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
